# node_modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Mã bảo mật môi trường
.env
*.env.local
backend/.env

# Thư mục build của Next.js
.next/
out/
build/

# Hệ điều hành rác
.DS_Store
Thumbs.db

# Thư mục logs (mọi cấp)
logs/
*.log
